<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/_layout}">

	<div layout:fragment="page-content">
	
		<!-- PAGE LEVEL CSS -->
		<link th:href="@{/css/available-stocks.css}" rel="stylesheet" />
	
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">
					<i class="fa fa-files-o"></i> Stocks - Available Stocks
				</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a th:href="@{/welcome/index}">Home</a></li>
					<li><i class="icon_document_alt"></i>Stocks</li>
					<li><i class="fa fa-files-o"></i>Available Stocks</li>
				</ol>
			</div>
		</div>
		
		<div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Available Stocks
              </header>
              <div class="table-responsive">
                <table class="table" id="available-stocks-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Stock</th>
                      <th>Quantity</th>
                      <th>Average Price</th>
                      <th>Total</th>
                      <th>Current Price</th>
                      <th>Current Value</th>
                      <th>P/L</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr th:each="record, status: ${availableStocksList}">
                   	  <input type="hidden" th:value="${record[0]}" class="stocknameid"/>
                      <td th:text="${status.index + 1}"></td>
                      <td th:text="${record[1]}"></td>
                      <td th:text="${record[2]}"></td>
                      <td th:text="${#numbers.formatDecimal(record[3], 1, 'COMMA', 2, 'POINT')}"></td> 
                      <td th:text="${#numbers.formatDecimal(record[2] * record[3], 1, 'COMMA', 2, 'POINT')}"></td>
                      <td style="width:100px;"><input type="text" class="form-control updateCurrentPrice" th:value="${record[4]}"/></td>
                      <td class="current-value" th:text="${#numbers.formatDecimal(record[4] * record[2], 1, 'COMMA', 2, 'POINT')}"></td>
                      <td class="pandl" th:text="${#numbers.formatDecimal(((record[4] * record[2]) - (record[2] * record[3]))* 100/(record[2] * record[3]), 1, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                  </tbody>
                  <tfoot>
                  	 <tr>
                    	<td colspan="4" class="custom-text-right highlate-big-text">Total Investment</td>
                    	<td th:text="${#numbers.formatDecimal(totalamount, 1, 'COMMA', 2, 'POINT')}" class="highlate-big-text"></td>
                    	<td class="custom-text-right highlate-big-text">Amount</td>
                    	<td colspan="2" id="current-total-amount" class="highlate-big-text"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </section>
          </div>
        </div>
        <!-- PAGE LEVEL SCRIPT -->
		<script th:src="@{/js/available-stocks.js}"></script>
	</div>

</html>